<div class="form-group select" [ngClass]="customClass" (clickOutside)="selectListOutsideClick($event)">
    <label class="inp-label" [ngClass]="validation" *ngIf="!noLabel">{{title}}</label>
    <input type="text" class="form-control" placeholder="{{placeholder}}" [value]="selectedItem"
        [ngClass]="{'is-invalid': validationClass || error}" [disabled]="disabled" (click)="toggleDropdown() "
        (keydown)="onKeyDown($event)" (blur)="hideDropdown()" readonly />
    <span class="focus-border"></span>
    <label class="arrow"><i class="vi vi-chevron-down"></i></label>
    <label class="close" *ngIf="isDropdownOpen && selectedItem" (click)="resetSelection()">
        <i class="vi vi-close"></i>
    </label>
    <div class="option-list" *ngIf="isDropdownOpen">
        <div class="list-item" [ngClass]="{'active': option === selectedItem, 'highlighted': index === highlightedIndex}"
            *ngFor="let option of options; let index = index" (click)="selectOption(option)">
            {{ option }}
        </div>
    </div>
    <div *ngIf="error" class="val-msg">{{ errorMessage }}</div>
</div>
