<div class="form-group select" [ngClass]="customClass" (clickOutside)="selectListOutsideClick($event)">
  <label class="inp-label" [ngClass]="validation" *ngIf="!noLabel">{{ title }}</label>
  <input type="text" class="form-control" [placeholder]="placeholder" [formControl]="inputControl"
    [ngClass]="{ 'is-invalid': validationClass || error }" (blur)="onBlur()" (click)="toggleDropdown()"
    (keydown)="onKeyDown($event)" readonly />
  <span class="focus-border"></span>
  <label class="clear" *ngIf="(isDropdownOpen && selectedItem) && clearVal" (click)="resetSelection()">
    <i class="vi vi-close"></i>
  </label>
  <label class="arrow"><i class="vi vi-chevron-down"></i></label>
  <div class="option-list" *ngIf="isDropdownOpen">
    <div class="list-item" [ngClass]="{ 'active': option === selectedItem, 'highlighted': index === highlightedIndex }"
      *ngFor="let option of filteredOptions; let index = index" (click)="selectOption(option)">
      <img *ngIf="option.countrycode" src="https://flagcdn.com/w80/{{option.countrycode}}.png" width="20">
      {{ option[optionDisplayProperty] }}
    </div>
  </div>
  <div *ngIf="error" class="val-msg">{{ errorMessage }}</div>
</div>