<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body" style="min-height: 300px;">


                <div class="row">
                    <div class="col-lg-3">
                        <input-control [title]="'First Name'" [placeholder]="''" [customClass]="'custom-input-class'"
                            [validation]="'validation-class'" [noLabel]="false" [disabled]="false"
                            [validationClass]="false">
                        </input-control>

                    </div>
                    <div class="col-lg-3">
                        <select-control title="Category" validation="required" formControlName="categoryName"
                            controlAddType="category" [selectedItem]="" [options]="">
                        </select-control>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>