@font-face {
  font-family: "icomoon";
    src:  url('../assets/fonts/icomoon/icomoon.eot?giyw1m');
    src:  url('../assets/fonts/icomoon/icomoon.eot?giyw1m#iefix') format('embedded-opentype'),
      url('../assets/fonts/icomoon/icomoon.ttf?giyw1m') format('truetype'),
      url('../assets/fonts/icomoon/icomoon.woff?giyw1m') format('woff'),
      url('../assets/fonts/icomoon/icomoon.svg?giyw1m#icomoon') format('svg');
}

.vi {
  z-index: 0;
  line-height: 1;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  font-style: normal;
  font-size: 1.25rem;
  font-variant: normal;
  text-transform: none;
  font-family: "icomoon" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.vi-allergy:before {
  content: "\e900";
}
.vi-allergy-face:before {
  content: "\e901";
}
.vi-allergy-hand:before {
  content: "\e902";
}
.vi-bandage-o:before {
  content: "\e903";
}
.vi-beaker:before {
  content: "\e904";
}
.vi-beaker-o:before {
  content: "\e905";
}
.vi-beakers:before {
  content: "\e906";
}
.vi-bed-o:before {
  content: "\e907";
}
.vi-blood-o:before {
  content: "\e908";
}
.vi-breast-feeding-o:before {
  content: "\e909";
}
.vi-culture:before {
  content: "\e90a";
}
.vi-diet:before {
  content: "\e90b";
}
.vi-doctor:before {
  content: "\e90c";
}
.vi-doctor-o:before {
  content: "\e90d";
}
.vi-doctor-referral:before {
  content: "\e90e";
}
.vi-drug:before {
  content: "\e90f";
}
.vi-drug-bottle:before {
  content: "\e910";
}
.vi-drugs:before {
  content: "\e911";
}
.vi-drug-split:before {
  content: "\e912";
}
.vi-dx:before {
  content: "\e913";
}
.vi-emergency-o:before {
  content: "\e914";
}
.vi-emergency-procedure-o:before {
  content: "\e915";
}
.vi-exit-o:before {
  content: "\e916";
}
.vi-eye-low-vision:before {
  content: "\e917";
}
.vi-file-doctor:before {
  content: "\e918";
}
.vi-file-medical:before {
  content: "\e919";
}
.vi-file-nurse:before {
  content: "\e91a";
}
.vi-folder-medical-o:before {
  content: "\e91b";
}
.vi-formulary:before {
  content: "\e91c";
}
.vi-generic:before {
  content: "\e91d";
}
.vi-hairfall:before {
  content: "\e91e";
}
.vi-headache:before {
  content: "\e91f";
}
.vi-health-ribbon-o:before {
  content: "\e920";
}
.vi-hearing-impaired:before {
  content: "\e921";
}
.vi-heart-ache-o:before {
  content: "\e922";
}
.vi-heart-medical-o:before {
  content: "\e923";
}
.vi-hospital:before {
  content: "\e924";
}
.vi-human-brain-o:before {
  content: "\e925";
}
.vi-infant:before {
  content: "\e926";
}
.vi-injection:before {
  content: "\e927";
}
.vi-insurance-o:before {
  content: "\e928";
}
.vi-iv:before {
  content: "\e929";
}
.vi-kidney-o:before {
  content: "\e92a";
}
.vi-lungs-o:before {
  content: "\e92b";
}
.vi-mask:before {
  content: "\e92c";
}
.vi-mask-face:before {
  content: "\e92d";
}
.vi-medical-book:before {
  content: "\e92e";
}
.vi-medical-book-o:before {
  content: "\e92f";
}
.vi-medical-kit:before {
  content: "\e930";
}
.vi-medical-kit-o:before {
  content: "\e931";
}
.vi-medical-note-authorized:before {
  content: "\e932";
}
.vi-medical-summary:before {
  content: "\e933";
}
.vi-microscope:before {
  content: "\e934";
}
.vi-nurse:before {
  content: "\e935";
}
.vi-nurse-o:before {
  content: "\e936";
}
.vi-obstestric-circle-o:before {
  content: "\e937";
}
.vi-pacemaker:before {
  content: "\e938";
}
.vi-pat-bed-o:before {
  content: "\e939";
}
.vi-pat-care-team-o:before {
  content: "\e93a";
}
.vi-pat-cough:before {
  content: "\e93b";
}
.vi-pat-exit:before {
  content: "\e93c";
}
.vi-pat-exit-o:before {
  content: "\e93d";
}
.vi-patient-group-o:before {
  content: "\e93e";
}
.vi-patient-lead-o:before {
  content: "\e93f";
}
.vi-patient-o:before {
  content: "\e940";
}
.vi-pat-injury:before {
  content: "\e941";
}
.vi-pat-injury-o:before {
  content: "\e942";
}
.vi-pat-problem:before {
  content: "\e943";
}
.vi-plus-medical:before {
  content: "\e944";
}
.vi-plus-medical-o:before {
  content: "\e945";
}
.vi-pregnancy-o:before {
  content: "\e946";
}
.vi-radiology-o:before {
  content: "\e947";
}
.vi-radio-pet-scan:before {
  content: "\e948";
}
.vi-radiotherapy-o:before {
  content: "\e949";
}
.vi-road-accident:before {
  content: "\e94a";
}
.vi-rx:before {
  content: "\e94b";
}
.vi-sanitary-pad:before {
  content: "\e94c";
}
.vi-sneezing:before {
  content: "\e94d";
}
.vi-sthethescope:before {
  content: "\e94e";
}
.vi-stomach-o:before {
  content: "\e94f";
}
.vi-test-tube-check-o:before {
  content: "\e950";
}
.vi-test-tube-lp:before {
  content: "\e951";
}
.vi-test-tube-o:before {
  content: "\e952";
}
.vi-thermometer:before {
  content: "\e953";
}
.vi-timepiece:before {
  content: "\e954";
}
.vi-tooth-circle-o:before {
  content: "\e955";
}
.vi-tooth-cracked-o:before {
  content: "\e956";
}
.vi-tooth-implant:before {
  content: "\e957";
}
.vi-tooth-o:before {
  content: "\e958";
}
.vi-truck-emergency:before {
  content: "\e959";
}
.vi-unknown-gender:before {
  content: "\e95a";
}
.vi-virus:before {
  content: "\e95b";
}
.vi-virus-o:before {
  content: "\e95c";
}
.vi-watch-fitness-o:before {
  content: "\e95d";
}
.vi-weight-loss:before {
  content: "\e95e";
}
.vi-weight-scale:before {
  content: "\e95f";
}
.vi-wheelchair:before {
  content: "\e960";
}
.vi-x-ray:before {
  content: "\e961";
}
.vi-address-card:before {
  content: "\e962";
}
.vi-address-card-o:before {
  content: "\e963";
}
.vi-admin:before {
  content: "\e964";
}
.vi-air-conditioner:before {
  content: "\e965";
}
.vi-air-conditioner-off:before {
  content: "\e966";
}
.vi-alph-h:before {
  content: "\e967";
}
.vi-alph-p-o:before {
  content: "\e968";
}
.vi-arrow-down:before {
  content: "\e969";
}
.vi-arrow-down-circle:before {
  content: "\e96a";
}
.vi-arrow-down-circle-o:before {
  content: "\e96b";
}
.vi-arrow-left:before {
  content: "\e96c";
}
.vi-arrow-left-circle:before {
  content: "\e96d";
}
.vi-arrow-left-circle-o:before {
  content: "\e96e";
}
.vi-arrow-right:before {
  content: "\e96f";
}
.vi-arrow-right-circle:before {
  content: "\e970";
}
.vi-arrow-right-circle-o:before {
  content: "\e971";
}
.vi-arrow-up:before {
  content: "\e972";
}
.vi-arrow-up-circle:before {
  content: "\e973";
}
.vi-arrow-up-circle-o:before {
  content: "\e974";
}
.vi-authorization:before {
  content: "\e975";
}
.vi-authorization-o:before {
  content: "\e976";
}
.vi-award:before {
  content: "\e977";
}
.vi-backward:before {
  content: "\e978";
}
.vi-backward-all:before {
  content: "\e979";
}
.vi-balcony:before {
  content: "\e97a";
}
.vi-bar-chart:before {
  content: "\e97b";
}
.vi-barcode:before {
  content: "\e97c";
}
.vi-bathtub:before {
  content: "\e97d";
}
.vi-bell:before {
  content: "\e97e";
}
.vi-bell-off:before {
  content: "\e97f";
}
.vi-bold:before {
  content: "\e980";
}
.vi-bookmark:before {
  content: "\e981";
}
.vi-book-media:before {
  content: "\e982";
}
.vi-briefcase:before {
  content: "\e983";
}
.vi-building:before {
  content: "\e984";
}
.vi-bulb:before {
  content: "\e985";
}
.vi-bullhorn:before {
  content: "\e986";
}
.vi-bullhorn-o:before {
  content: "\e987";
}
.vi-calendar:before {
  content: "\e988";
}
.vi-calendar-arabic:before {
  content: "\e989";
}
.vi-calendar-blank:before {
  content: "\e98a";
}
.vi-calendar-english:before {
  content: "\e98b";
}
.vi-calendar-o:before {
  content: "\e98c";
}
.vi-camera:before {
  content: "\e98d";
}
.vi-camera-o:before {
  content: "\e98e";
}
.vi-camera-off:before {
  content: "\e98f";
}
.vi-cannabis-o:before {
  content: "\e990";
}
.vi-card:before {
  content: "\e991";
}
.vi-cards-o:before {
  content: "\e992";
}
.vi-cash:before {
  content: "\e993";
}
.vi-cashier:before {
  content: "\e994";
}
.vi-cashier-o:before {
  content: "\e995";
}
.vi-cash-transfer:before {
  content: "\e996";
}
.vi-cast:before {
  content: "\e997";
}
.vi-cctv-camera:before {
  content: "\e998";
}
.vi-center-align:before {
  content: "\e999";
}
.vi-certificate:before {
  content: "\e99a";
}
.vi-certified-badge:before {
  content: "\e99b";
}
.vi-certified-badge-o:before {
  content: "\e99c";
}
.vi-chat:before {
  content: "\e99d";
}
.vi-chats:before {
  content: "\e99e";
}
.vi-check:before {
  content: "\e99f";
}
.vi-check-circle:before {
  content: "\e9a0";
}
.vi-check-circle-o:before {
  content: "\e9a1";
}
.vi-chevron-double-left:before {
  content: "\e9a2";
}
.vi-chevron-double-right:before {
  content: "\e9a3";
}
.vi-chevron-down:before {
  content: "\e9a4";
}
.vi-chevron-left:before {
  content: "\e9a5";
}
.vi-chevron-right:before {
  content: "\e9a6";
}
.vi-chevron-up:before {
  content: "\e9a7";
}
.vi-clear-back:before {
  content: "\e9a8";
}
.vi-clipboard:before {
  content: "\e9a9";
}
.vi-close:before {
  content: "\e9aa";
}
.vi-close-circle:before {
  content: "\e9ab";
}
.vi-close-circle-o:before {
  content: "\e9ac";
}
.vi-cloud-upload:before {
  content: "\e9ad";
}
.vi-cog:before {
  content: "\e9ae";
}
.vi-collapse:before {
  content: "\e9af";
}
.vi-copy:before {
  content: "\e9b0";
}
.vi-crown-o:before {
  content: "\e9b1";
}
.vi-cube-o:before {
  content: "\e9b2";
}
.vi-database:before {
  content: "\e9b3";
}
.vi-drag:before {
  content: "\e9b4";
}
.vi-envelope:before {
  content: "\e9b5";
}
.vi-envelope-o:before {
  content: "\e9b6";
}
.vi-eraser:before {
  content: "\e9b7";
}
.vi-expand:before {
  content: "\e9b8";
}
.vi-eye:before {
  content: "\e9b9";
}
.vi-eye-off:before {
  content: "\e9ba";
}
.vi-family:before {
  content: "\e9bb";
}
.vi-family-o:before {
  content: "\e9bc";
}
.vi-file:before {
  content: "\e9bd";
}
.vi-file-attach:before {
  content: "\e9be";
}
.vi-file-check:before {
  content: "\e9bf";
}
.vi-file-close:before {
  content: "\e9c0";
}
.vi-file-download:before {
  content: "\e9c1";
}
.vi-file-forward:before {
  content: "\e9c2";
}
.vi-file-link:before {
  content: "\e9c3";
}
.vi-file-log:before {
  content: "\e9c4";
}
.vi-file-mic:before {
  content: "\e9c5";
}
.vi-file-pdf:before {
  content: "\e9c6";
}
.vi-file-pie-chart:before {
  content: "\e9c7";
}
.vi-file-right-arrow:before {
  content: "\e9c8";
}
.vi-file-scan:before {
  content: "\e9c9";
}
.vi-file-search:before {
  content: "\e9ca";
}
.vi-file-text:before {
  content: "\e9cb";
}
.vi-file-text-o:before {
  content: "\e9cc";
}
.vi-file-upload:before {
  content: "\e9cd";
}
.vi-file-user:before {
  content: "\e9ce";
}
.vi-file-warning:before {
  content: "\e9cf";
}
.vi-filter:before {
  content: "\e9d0";
}
.vi-filter-list:before {
  content: "\e9d1";
}
.vi-filter-o:before {
  content: "\e9d2";
}
.vi-flag:before {
  content: "\e9d3";
}
.vi-flag-o:before {
  content: "\e9d4";
}
.vi-folder:before {
  content: "\e9d5";
}
.vi-folder-attach:before {
  content: "\e9d6";
}
.vi-folder-file:before {
  content: "\e9d7";
}
.vi-folder-minus:before {
  content: "\e9d8";
}
.vi-folder-plus:before {
  content: "\e9d9";
}
.vi-folder-search:before {
  content: "\e9da";
}
.vi-food-beverage:before {
  content: "\e9db";
}
.vi-food-restriction:before {
  content: "\e9dc";
}
.vi-forward:before {
  content: "\e9dd";
}
.vi-forward-all:before {
  content: "\e9de";
}
.vi-free-text:before {
  content: "\e9df";
}
.vi-full-day:before {
  content: "\e9e0";
}
.vi-fullscreen:before {
  content: "\e9e1";
}
.vi-gift:before {
  content: "\e9e2";
}
.vi-globe:before {
  content: "\e9e3";
}
.vi-gmail:before {
  content: "\e9e4";
}
.vi-graduated-user-o:before {
  content: "\e9e5";
}
.vi-graduation-cap-o:before {
  content: "\e9e6";
}
.vi-grid:before {
  content: "\e9e7";
}
.vi-handshake:before {
  content: "\e9e8";
}
.vi-handshake-o:before {
  content: "\e9e9";
}
.vi-heart:before {
  content: "\e9ea";
}
.vi-heart-o:before {
  content: "\e9eb";
}
.vi-heater:before {
  content: "\e9ec";
}
.vi-help:before {
  content: "\e9ed";
}
.vi-help-circle:before {
  content: "\e9ee";
}
.vi-help-circle-o:before {
  content: "\e9ef";
}
.vi-hold:before {
  content: "\e9f0";
}
.vi-home:before {
  content: "\e9f1";
}
.vi-home-o:before {
  content: "\e9f2";
}
.vi-horizontal-view:before {
  content: "\e9f3";
}
.vi-house-keeping:before {
  content: "\e9f4";
}
.vi-image:before {
  content: "\e9f5";
}
.vi-image-attach:before {
  content: "\e9f6";
}
.vi-info-circle:before {
  content: "\e9f7";
}
.vi-info-circle-o:before {
  content: "\e9f8";
}
.vi-italic:before {
  content: "\e9f9";
}
.vi-kanban:before {
  content: "\e9fa";
}
.vi-kanban-o:before {
  content: "\e9fb";
}
.vi-key:before {
  content: "\e9fc";
}
.vi-language:before {
  content: "\e9fd";
}
.vi-language-translator:before {
  content: "\e9fe";
}
.vi-laundry:before {
  content: "\e9ff";
}
.vi-layer:before {
  content: "\ea00";
}
.vi-left-align:before {
  content: "\ea01";
}
.vi-legal:before {
  content: "\ea02";
}
.vi-link:before {
  content: "\ea03";
}
.vi-lock:before {
  content: "\ea04";
}
.vi-lock-open:before {
  content: "\ea05";
}
.vi-man:before {
  content: "\ea06";
}
.vi-map:before {
  content: "\ea07";
}
.vi-map-o:before {
  content: "\ea08";
}
.vi-maximize:before {
  content: "\ea09";
}
.vi-menu:before {
  content: "\ea0a";
}
.vi-message:before {
  content: "\ea0b";
}
.vi-mic:before {
  content: "\ea0c";
}
.vi-mic-disable:before {
  content: "\ea0d";
}
.vi-mic-disable-o:before {
  content: "\ea0e";
}
.vi-minimize:before {
  content: "\ea0f";
}
.vi-minus-circle:before {
  content: "\ea10";
}
.vi-minus-circle-o:before {
  content: "\ea11";
}
.vi-money-adjustment:before {
  content: "\ea12";
}
.vi-money-adjustment-o:before {
  content: "\ea13";
}
.vi-monitor:before {
  content: "\ea14";
}
.vi-moon:before {
  content: "\ea15";
}
.vi-moon-o:before {
  content: "\ea16";
}
.vi-more-horizontal:before {
  content: "\ea17";
}
.vi-more-vertical:before {
  content: "\ea18";
}
.vi-move:before {
  content: "\ea19";
}
.vi-notepad:before {
  content: "\ea1a";
}
.vi-numeric-list:before {
  content: "\ea1b";
}
.vi-ordered-list:before {
  content: "\ea1c";
}
.vi-others:before {
  content: "\ea1d";
}
.vi-others-o:before {
  content: "\ea1e";
}
.vi-paper-clip:before {
  content: "\ea1f";
}
.vi-pdf:before {
  content: "\ea20";
}
.vi-pencil:before {
  content: "\ea21";
}
.vi-pencil-o:before {
  content: "\ea22";
}
.vi-pie-chart:before {
  content: "\ea23";
}
.vi-plus:before {
  content: "\ea24";
}
.vi-plus-circle:before {
  content: "\ea25";
}
.vi-plus-circle-o:before {
  content: "\ea26";
}
.vi-pointer:before {
  content: "\ea27";
}
.vi-power-off:before {
  content: "\ea28";
}
.vi-previous-visit-o:before {
  content: "\ea29";
}
.vi-print:before {
  content: "\ea2a";
}
.vi-puzzle:before {
  content: "\ea2b";
}
.vi-puzzles:before {
  content: "\ea2c";
}
.vi-qr-code:before {
  content: "\ea2d";
}
.vi-qr-scan:before {
  content: "\ea2e";
}
.vi-receipt-o:before {
  content: "\ea2f";
}
.vi-reception-o:before {
  content: "\ea30";
}
.vi-redo:before {
  content: "\ea31";
}
.vi-refresh:before {
  content: "\ea32";
}
.vi-remarks:before {
  content: "\ea33";
}
.vi-reset:before {
  content: "\ea34";
}
.vi-restaurant:before {
  content: "\ea35";
}
.vi-right-align:before {
  content: "\ea36";
}
.vi-rupee:before {
  content: "\ea37";
}
.vi-scissors-o:before {
  content: "\ea38";
}
.vi-search:before {
  content: "\ea39";
}
.vi-search-adv:before {
  content: "\ea3a";
}
.vi-search-key:before {
  content: "\ea3b";
}
.vi-search-number:before {
  content: "\ea3c";
}
.vi-search-text:before {
  content: "\ea3d";
}
.vi-search-user:before {
  content: "\ea3e";
}
.vi-sections:before {
  content: "\ea3f";
}
.vi-server:before {
  content: "\ea40";
}
.vi-service-category:before {
  content: "\ea41";
}
.vi-shopping-bag:before {
  content: "\ea42";
}
.vi-shopping-trolley:before {
  content: "\ea43";
}
.vi-slash:before {
  content: "\ea44";
}
.vi-slider:before {
  content: "\ea45";
}
.vi-smile:before {
  content: "\ea46";
}
.vi-smiley:before {
  content: "\ea47";
}
.vi-sms:before {
  content: "\ea48";
}
.vi-sort-alpha-asc:before {
  content: "\ea49";
}
.vi-sort-alpha-contains:before {
  content: "\ea4a";
}
.vi-sort-alpha-desc:before {
  content: "\ea4b";
}
.vi-sort-alpha-start:before {
  content: "\ea4c";
}
.vi-spell-check:before {
  content: "\ea4d";
}
.vi-star:before {
  content: "\ea4e";
}
.vi-star-circle-o:before {
  content: "\ea4f";
}
.vi-star-o:before {
  content: "\ea50";
}
.vi-sticky-notes:before {
  content: "\ea51";
}
.vi-stock-carrier:before {
  content: "\ea52";
}
.vi-strike-through:before {
  content: "\ea53";
}
.vi-sun:before {
  content: "\ea54";
}
.vi-sun-fh:before {
  content: "\ea55";
}
.vi-sun-moon:before {
  content: "\ea56";
}
.vi-sun-o:before {
  content: "\ea57";
}
.vi-sun-sh:before {
  content: "\ea58";
}
.vi-tag:before {
  content: "\ea59";
}
.vi-tag-brand:before {
  content: "\ea5a";
}
.vi-tag-free:before {
  content: "\ea5b";
}
.vi-tag-group:before {
  content: "\ea5c";
}
.vi-tag-o:before {
  content: "\ea5d";
}
.vi-telephone:before {
  content: "\ea5e";
}
.vi-telephone-call:before {
  content: "\ea5f";
}
.vi-telephone-calling-o:before {
  content: "\ea60";
}
.vi-telephone-circle-o:before {
  content: "\ea61";
}
.vi-telephone-o:before {
  content: "\ea62";
}
.vi-thumbs-down:before {
  content: "\ea63";
}
.vi-thumbs-up:before {
  content: "\ea64";
}
.vi-thumb-tack:before {
  content: "\ea65";
}
.vi-ticket:before {
  content: "\ea66";
}
.vi-ticket-o:before {
  content: "\ea67";
}
.vi-time-previous:before {
  content: "\ea68";
}
.vi-time-reset:before {
  content: "\ea69";
}
.vi-toggle:before {
  content: "\ea6a";
}
.vi-trash:before {
  content: "\ea6b";
}
.vi-trash-empty:before {
  content: "\ea6c";
}
.vi-tree-view:before {
  content: "\ea6d";
}
.vi-trend-line:before {
  content: "\ea6e";
}
.vi-trend-line-down:before {
  content: "\ea6f";
}
.vi-trend-line-up:before {
  content: "\ea70";
}
.vi-truck:before {
  content: "\ea71";
}
.vi-underline:before {
  content: "\ea72";
}
.vi-undo:before {
  content: "\ea73";
}
.vi-upload:before {
  content: "\ea74";
}
.vi-upload-o:before {
  content: "\ea75";
}
.vi-user:before {
  content: "\ea76";
}
.vi-user-card:before {
  content: "\ea77";
}
.vi-user-group:before {
  content: "\ea78";
}
.vi-users:before {
  content: "\ea79";
}
.vi-user-waiting-o:before {
  content: "\ea7a";
}
.vi-verified-o:before {
  content: "\ea7b";
}
.vi-vertical-view:before {
  content: "\ea7c";
}
.vi-video-call:before {
  content: "\ea7d";
}
.vi-video-call-o:before {
  content: "\ea7e";
}
.vi-video-call-off:before {
  content: "\ea7f";
}
.vi-video-call-off-o:before {
  content: "\ea80";
}
.vi-wallet:before {
  content: "\ea81";
}
.vi-warning:before {
  content: "\ea82";
}
.vi-warning-o:before {
  content: "\ea83";
}
.vi-whatsapp:before {
  content: "\ea84";
}
.vi-whatsapp-o:before {
  content: "\ea85";
}
.vi-wifi:before {
  content: "\ea86";
}
.vi-wifi-off:before {
  content: "\ea87";
}
.vi-women:before {
  content: "\ea88";
}
.vi-zoom-in:before {
  content: "\ea89";
}
.vi-zoom-out:before {
  content: "\ea8a";
}
