// app general
.cmn-icons {
    a {
        &:hover,
        &.active {
            background: $cmn-icon-hover-bg;
            .vi {
                color: $cmn-icon-hover;
            }
        }
    }
}
.vi {
    color: $app-icon;
}

// layout
.app-layout {
    .menu-layout {
        box-shadow: $app-nav-bs;
    }
    .page-layout {
        .page-container {
            .page-wrap {
                .page-content {
                    background: $app-bg;
                }
            }
        }
    }
}
.app-header {
    background: $app-h-bg;
    box-shadow: $app-bs-bottom;
    .header-actions {
        .menu-icon {
            a {
                span {
                    background: $h-menu-bar;
                }
            }
        }
        .h-pat-search {
            .form-group {
                .form-control {
                    background: $h-ip-bg;
                    border-color: $h-ip-border;
                }
                .select {
                    background: $h-ip-select-bg;
                    .vi {
                        color: $h-ip-select-icon;
                    }
                }
                .search {
                    .vi {
                        color: $h-ip-search-icon;
                    }
                }
            }
        }
        .new-pat-reg {
            a {
                background: $app-h-bg;
                border: 1px solid $h-np-border;
                .vi {
                    color: $h-ip-select-icon;
                }
            }
            &:hover {
                a {
                    background: $h-np-hover;
                }
            }
        }
    }
    .header-nav {
        .header-nav-link {
            &.user-img {
                background: #d6d6d6;
                img {
                    border: 2px solid #1191a2;
                }
            }
            &:hover {
                a {
                    background: #f3f3f3;
                    background: rgba(255, 127, 93, 0.1);
                    .vi {
                        color: #ff7f5d;
                    }
                }
            }
        }
    }
}
.main-menu,
.sidebar-panel {
    background: $navbar-bg;
    ul {
        li {
            a {
                .nav-icon {
                    color: $navbar-icon;
                }
            }
            &:hover {
                background: $navbar-icon-hover;
            }
            &.active {
                background: $navbar-icon-active;
            }
        }
    }
}

// cards
.card {
    box-shadow: $card-bs;
    .card-header,
    .card-body,
    .card-footer {
        background: $card-bg;
    }
    .card-header {
        border-bottom: $card-h-border;
        .header-label {
            color: $card-h-label;
        }
    }
    .card-footer {
        border-top: $card-f-border;
    }
    &.card-dark {
        box-shadow: $card-f-border;
    }
}

// form title
.form-title {
    color: $form-label;
    .gmap {
        color: $gmap-label;
        .vi {
            color: #ff3501;
        }
    }
}

// charts
.apexcharts-legend-text {
    color: $apex-c-legend !important;
}

// tabs
.tab-container {
    background: $tab-bg;
    box-shadow: $tab-bs;
    .tab-item {
        color: $tab;
        &:hover {
            color: $tab-active;
        }
        &.active {
            background: $tab-active;
        }
    }
    &.border-light {
        box-shadow: $tab-light-bs;
    }
}
.tab-link {
    .tab-item {
        color: $tab-link;
        &.active {
            color: $tab-link-active;
            border-bottom: $tab-link-border;
        }
    }
}

// custom
.page-title {
    color: $page-title;
}
.no-rec {
    .no-rec-info {
        .nr-title {
            color: $cmn-nr-title;
        }
        .nr-sub-title {
            color: $cmn-nr-sub-title;
        }
    }
}
.page-footer {
    background: $page-f-bg;
    box-shadow: $page-f-bs;
}

// patient list
@mixin filter-icons {
    a {
        &:hover,
        &.active {
            background: rgba(255, 127, 93, 0.1);
            .vi {
                color: #ff7f5d;
            }
        }
        &.close {
            &:hover {
                .vi {
                    color: #ff0000;
                }
            }
        }
    }
}
.search-container {
    background: #ffffff;
    border: 1px solid #cfc7c7;
    box-shadow: 0 3px 9px -3px #afa2a2;
    .search-filter {
        border-bottom: 2px solid #efefef;
        .ls-filter-group {
            .icon-as {
                &.active {
                    a {
                        background: rgba(255, 127, 93, 0.1);
                        .vi {
                            color: #ff7f5d;
                        }
                    }
                }
            }
        }
        .rs-filter-group {
            display: flex;
            align-items: center;
            label {
                line-height: 1;
                padding: 0 3px;
                @include filter-icons;
            }
        }
    }
    .search-data {
        .adv-search {
            border-right: 2px solid #efefef;
        }
        .search-list {
            .grid-search-list {
                .search-results {
                    .pat-card {
                        .pat-img {
                            .online {
                                background: #ffffff;
                                &:after {
                                    background: #00da00;
                                }
                            }
                        }
                        .pat-info {
                            .mrn {
                                color: #716c6c;
                                span {
                                    color: #919191;
                                }
                            }
                        }
                        &:hover {
                            background: #faebd7;
                            box-shadow: 0 0 4px 0 #d0d0d0;
                        }
                    }
                }
            }
            .table-search-list {
                .search-results {
                    table {
                        tbody {
                            tr {
                                td {
                                    .pat-img {
                                        .online {
                                            background: #ffffff;
                                            &:after {
                                                background: #00da00;
                                            }
                                        }
                                    }
                                }
                                &:hover {
                                    // transform: translate(0, 0) rotate(0) skew(0) skewY(0) scaleX(1.01) scaleY(1.01);
                                    td {
                                        background: #faebd7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .alph-sel {
                color: #ffffff;
                background: #4d2020;
            }
        }
        .pat-preview {
            border-left: 2px solid #efefef;
        }
    }
}

// shared
.card {
    &.app-card {
        &::before {
            background: #00ccff;
        }
        .add-info {
            background: $app-add-info;
            .vi {
                color: $cmn-warning-icon;
            }
            span {
                color: $cmn-data;
            }
        }
        .card-body {
            .doc-img {
                img {
                    border: 2px solid #00ccff;
                }
            }
            .doc-info {
                .name,
                .depmt {
                    color: $cmn-doc-nd;
                }
            }
            .token-info {
                label {
                    .vi {
                        color: $app-print-icon;
                    }
                }
            }
            .btn-checkin,
            .btn-repeat {
                .btn {
                    box-shadow:
                        0 2px 11px 0 rgba(60, 60, 60, 0.3),
                        0 10px 24px -16px #00ccff;
                }
            }
            .btn-checkin {
                .btn {
                    background: #00ccff;
                }
            }
        }
    }
}

// modules
@import "modules/patadministration";
