.fl {
    width: 30px;
    height: 20px;
    line-height: 30px;
    position: relative;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.fl-abw {
    background-image: url(../../public/flags/abw.svg);
}
.fl-afg {
    background-image: url(../../public/flags/afg.svg);
}
.fl-ago {
    background-image: url(../../public/flags/ago.svg);
}
.fl-aia {
    background-image: url(../../public/flags/aia.svg);
}
.fl-alb {
    background-image: url(../../public/flags/alb.svg);
}
.fl-and {
    background-image: url(../../public/flags/and.svg);
}
.fl-are {
    background-image: url(../../public/flags/are.svg);
}
.fl-arg {
    background-image: url(../../public/flags/arg.svg);
}
.fl-arm {
    background-image: url(../../public/flags/arm.svg);
}
.fl-asc {
    background-image: url(../../public/flags/asc.svg);
}
.fl-asm {
    background-image: url(../../public/flags/asm.svg);
}
.fl-ata {
    background-image: url(../../public/flags/ata.svg);
}
.fl-atg {
    background-image: url(../../public/flags/atg.svg);
}
.fl-aus {
    background-image: url(../../public/flags/aus.svg);
}
.fl-aut {
    background-image: url(../../public/flags/aut.svg);
}
.fl-aze {
    background-image: url(../../public/flags/aze.svg);
}
.fl-bdi {
    background-image: url(../../public/flags/bdi.svg);
}
.fl-bel {
    background-image: url(../../public/flags/bel.svg);
}
.fl-ben {
    background-image: url(../../public/flags/ben.svg);
}
.fl-bfa {
    background-image: url(../../public/flags/bfa.svg);
}
.fl-bgd {
    background-image: url(../../public/flags/bgd.svg);
}
.fl-bgr {
    background-image: url(../../public/flags/bgr.svg);
}
.fl-bhr {
    background-image: url(../../public/flags/bhr.svg);
}
.fl-bhs {
    background-image: url(../../public/flags/bhs.svg);
}
.fl-bih {
    background-image: url(../../public/flags/bih.svg);
}
.fl-blm {
    background-image: url(../../public/flags/blm.svg);
}
.fl-blr {
    background-image: url(../../public/flags/blr.svg);
}
.fl-blz {
    background-image: url(../../public/flags/blz.svg);
}
.fl-bmu {
    background-image: url(../../public/flags/bmu.svg);
}
.fl-bol {
    background-image: url(../../public/flags/bol.svg);
}
.fl-bq {
    background-image: url(../../public/flags/bq.svg);
}
.fl-bra {
    background-image: url(../../public/flags/bra.svg);
}
.fl-brb {
    background-image: url(../../public/flags/brb.svg);
}
.fl-brn {
    background-image: url(../../public/flags/brn.svg);
}
.fl-btn {
    background-image: url(../../public/flags/btn.svg);
}
.fl-bwa {
    background-image: url(../../public/flags/bwa.svg);
}
.fl-caf {
    background-image: url(../../public/flags/caf.svg);
}
.fl-can {
    background-image: url(../../public/flags/can.svg);
}
.fl-che {
    background-image: url(../../public/flags/che.svg);
}
.fl-chl {
    background-image: url(../../public/flags/chl.svg);
}
.fl-chn {
    background-image: url(../../public/flags/chn.svg);
}
.fl-civ {
    background-image: url(../../public/flags/civ.svg);
}
.fl-cmr {
    background-image: url(../../public/flags/cmr.svg);
}
.fl-cod {
    background-image: url(../../public/flags/cod.svg);
}
.fl-cog {
    background-image: url(../../public/flags/cog.svg);
}
.fl-cok {
    background-image: url(../../public/flags/cok.svg);
}
.fl-col {
    background-image: url(../../public/flags/col.svg);
}
.fl-com {
    background-image: url(../../public/flags/com.svg);
}
.fl-cpv {
    background-image: url(../../public/flags/cpv.svg);
}
.fl-cri {
    background-image: url(../../public/flags/cri.svg);
}
.fl-cub {
    background-image: url(../../public/flags/cub.svg);
}
.fl-cuw {
    background-image: url(../../public/flags/cuw.svg);
}
.fl-cym {
    background-image: url(../../public/flags/cym.svg);
}
.fl-cyp {
    background-image: url(../../public/flags/cyp.svg);
}
.fl-cze {
    background-image: url(../../public/flags/cze.svg);
}
.fl-deu {
    background-image: url(../../public/flags/deu.svg);
}
.fl-dji {
    background-image: url(../../public/flags/dji.svg);
}
.fl-dma {
    background-image: url(../../public/flags/dma.svg);
}
.fl-dnk {
    background-image: url(../../public/flags/dnk.svg);
}
.fl-dom {
    background-image: url(../../public/flags/dom.svg);
}
.fl-dza {
    background-image: url(../../public/flags/dza.svg);
}
.fl-ecu {
    background-image: url(../../public/flags/ecu.svg);
}
.fl-egy {
    background-image: url(../../public/flags/egy.svg);
}
.fl-eri {
    background-image: url(../../public/flags/eri.svg);
}
.fl-esh {
    background-image: url(../../public/flags/esh.svg);
}
.fl-esp {
    background-image: url(../../public/flags/esp.svg);
}
.fl-est {
    background-image: url(../../public/flags/est.svg);
}
.fl-eth {
    background-image: url(../../public/flags/eth.svg);
}
.fl-fin {
    background-image: url(../../public/flags/fin.svg);
}
.fl-fji {
    background-image: url(../../public/flags/fji.svg);
}
.fl-flk {
    background-image: url(../../public/flags/flk.svg);
}
.fl-fra {
    background-image: url(../../public/flags/fra.svg);
}
.fl-fro {
    background-image: url(../../public/flags/fro.svg);
}
.fl-fsm {
    background-image: url(../../public/flags/fsm.svg);
}
.fl-gab {
    background-image: url(../../public/flags/gab.svg);
}
.fl-gbr {
    background-image: url(../../public/flags/gbr.svg);
}
.fl-geo {
    background-image: url(../../public/flags/geo.svg);
}
.fl-gha {
    background-image: url(../../public/flags/gha.svg);
}
.fl-gib {
    background-image: url(../../public/flags/gib.svg);
}
.fl-gin {
    background-image: url(../../public/flags/gin.svg);
}
.fl-gmb {
    background-image: url(../../public/flags/gmb.svg);
}
.fl-gnb {
    background-image: url(../../public/flags/gnb.svg);
}
.fl-gnq {
    background-image: url(../../public/flags/gnq.svg);
}
.fl-grc {
    background-image: url(../../public/flags/grc.svg);
}
.fl-grd {
    background-image: url(../../public/flags/grd.svg);
}
.fl-grl {
    background-image: url(../../public/flags/grl.svg);
}
.fl-gtm {
    background-image: url(../../public/flags/gtm.svg);
}
.fl-guf {
    background-image: url(../../public/flags/guf.svg);
}
.fl-gum {
    background-image: url(../../public/flags/gum.svg);
}
.fl-guy {
    background-image: url(../../public/flags/guy.svg);
}
.fl-hkg {
    background-image: url(../../public/flags/hkg.svg);
}
.fl-hnd {
    background-image: url(../../public/flags/hnd.svg);
}
.fl-hrv {
    background-image: url(../../public/flags/hrv.svg);
}
.fl-hti {
    background-image: url(../../public/flags/hti.svg);
}
.fl-hun {
    background-image: url(../../public/flags/hun.svg);
}
.fl-idn {
    background-image: url(../../public/flags/idn.svg);
}
.fl-ind {
    background-image: url(../../public/flags/ind.svg);
}
.fl-iot {
    background-image: url(../../public/flags/iot.svg);
}
.fl-irl {
    background-image: url(../../public/flags/irl.svg);
}
.fl-irn {
    background-image: url(../../public/flags/irn.svg);
}
.fl-irq {
    background-image: url(../../public/flags/irq.svg);
}
.fl-isl {
    background-image: url(../../public/flags/isl.svg);
}
.fl-isr {
    background-image: url(../../public/flags/isr.svg);
}
.fl-ita {
    background-image: url(../../public/flags/ita.svg);
}
.fl-jam {
    background-image: url(../../public/flags/jam.svg);
}
.fl-jor {
    background-image: url(../../public/flags/jor.svg);
}
.fl-jpn {
    background-image: url(../../public/flags/jpn.svg);
}
.fl-kaz {
    background-image: url(../../public/flags/kaz.svg);
}
.fl-ken {
    background-image: url(../../public/flags/ken.svg);
}
.fl-kgz {
    background-image: url(../../public/flags/kgz.svg);
}
.fl-khm {
    background-image: url(../../public/flags/khm.svg);
}
.fl-kir {
    background-image: url(../../public/flags/kir.svg);
}
.fl-kna {
    background-image: url(../../public/flags/kna.svg);
}
.fl-kor {
    background-image: url(../../public/flags/kor.svg);
}
.fl-kwt {
    background-image: url(../../public/flags/kwt.svg);
}
.fl-lao {
    background-image: url(../../public/flags/lao.svg);
}
.fl-lbn {
    background-image: url(../../public/flags/lbn.svg);
}
.fl-lbr {
    background-image: url(../../public/flags/lbr.svg);
}
.fl-lby {
    background-image: url(../../public/flags/lby.svg);
}
.fl-lca {
    background-image: url(../../public/flags/lca.svg);
}
.fl-lie {
    background-image: url(../../public/flags/lie.svg);
}
.fl-lka {
    background-image: url(../../public/flags/lka.svg);
}
.fl-lso {
    background-image: url(../../public/flags/lso.svg);
}
.fl-ltu {
    background-image: url(../../public/flags/ltu.svg);
}
.fl-lux {
    background-image: url(../../public/flags/lux.svg);
}
.fl-lva {
    background-image: url(../../public/flags/lva.svg);
}
.fl-mac {
    background-image: url(../../public/flags/mac.svg);
}
.fl-maf {
    background-image: url(../../public/flags/maf.svg);
}
.fl-mar {
    background-image: url(../../public/flags/mar.svg);
}
.fl-mco {
    background-image: url(../../public/flags/mco.svg);
}
.fl-mda {
    background-image: url(../../public/flags/mda.svg);
}
.fl-mdg {
    background-image: url(../../public/flags/mdg.svg);
}
.fl-mdv {
    background-image: url(../../public/flags/mdv.svg);
}
.fl-mex {
    background-image: url(../../public/flags/mex.svg);
}
.fl-mhl {
    background-image: url(../../public/flags/mhl.svg);
}
.fl-mkd {
    background-image: url(../../public/flags/mkd.svg);
}
.fl-mli {
    background-image: url(../../public/flags/mli.svg);
}
.fl-mlt {
    background-image: url(../../public/flags/mlt.svg);
}
.fl-mmr {
    background-image: url(../../public/flags/mmr.svg);
}
.fl-mne {
    background-image: url(../../public/flags/mne.svg);
}
.fl-mng {
    background-image: url(../../public/flags/mng.svg);
}
.fl-mnp {
    background-image: url(../../public/flags/mnp.svg);
}
.fl-moz {
    background-image: url(../../public/flags/moz.svg);
}
.fl-mrt {
    background-image: url(../../public/flags/mrt.svg);
}
.fl-msr {
    background-image: url(../../public/flags/msr.svg);
}
.fl-mtq {
    background-image: url(../../public/flags/mtq.svg);
}
.fl-mus {
    background-image: url(../../public/flags/mus.svg);
}
.fl-mwi {
    background-image: url(../../public/flags/mwi.svg);
}
.fl-mys {
    background-image: url(../../public/flags/mys.svg);
}
.fl-myt {
    background-image: url(../../public/flags/myt.svg);
}
.fl-nam {
    background-image: url(../../public/flags/nam.svg);
}
.fl-ncl {
    background-image: url(../../public/flags/ncl.svg);
}
.fl-ner {
    background-image: url(../../public/flags/ner.svg);
}
.fl-nfk {
    background-image: url(../../public/flags/nfk.svg);
}
.fl-nga {
    background-image: url(../../public/flags/nga.svg);
}
.fl-nic {
    background-image: url(../../public/flags/nic.svg);
}
.fl-niu {
    background-image: url(../../public/flags/niu.svg);
}
.fl-nld {
    background-image: url(../../public/flags/nld.svg);
}
.fl-nor {
    background-image: url(../../public/flags/nor.svg);
}
.fl-npl {
    background-image: url(../../public/flags/npl.svg);
}
.fl-nru {
    background-image: url(../../public/flags/nru.svg);
}
.fl-nzl {
    background-image: url(../../public/flags/nzl.svg);
}
.fl-omn {
    background-image: url(../../public/flags/omn.svg);
}
.fl-pak {
    background-image: url(../../public/flags/pak.svg);
}
.fl-pan {
    background-image: url(../../public/flags/pan.svg);
}
.fl-pcn {
    background-image: url(../../public/flags/pcn.svg);
}
.fl-per {
    background-image: url(../../public/flags/per.svg);
}
.fl-phl {
    background-image: url(../../public/flags/phl.svg);
}
.fl-plw {
    background-image: url(../../public/flags/plw.svg);
}
.fl-png {
    background-image: url(../../public/flags/png.svg);
}
.fl-pol {
    background-image: url(../../public/flags/pol.svg);
}
.fl-pri {
    background-image: url(../../public/flags/pri.svg);
}
.fl-prk {
    background-image: url(../../public/flags/prk.svg);
}
.fl-prt {
    background-image: url(../../public/flags/prt.svg);
}
.fl-pry {
    background-image: url(../../public/flags/pry.svg);
}
.fl-pse {
    background-image: url(../../public/flags/pse.svg);
}
.fl-pyf {
    background-image: url(../../public/flags/pyf.svg);
}
.fl-qat {
    background-image: url(../../public/flags/qat.svg);
}
.fl-reu {
    background-image: url(../../public/flags/reu.svg);
}
.fl-rou {
    background-image: url(../../public/flags/rou.svg);
}
.fl-rus {
    background-image: url(../../public/flags/rus.svg);
}
.fl-rwa {
    background-image: url(../../public/flags/rwa.svg);
}
.fl-sau {
    background-image: url(../../public/flags/sau.svg);
}
.fl-sdn {
    background-image: url(../../public/flags/sdn.svg);
}
.fl-sen {
    background-image: url(../../public/flags/sen.svg);
}
.fl-sgp {
    background-image: url(../../public/flags/sgp.svg);
}
.fl-shn {
    background-image: url(../../public/flags/shn.svg);
}
.fl-slb {
    background-image: url(../../public/flags/slb.svg);
}
.fl-sle {
    background-image: url(../../public/flags/sle.svg);
}
.fl-slv {
    background-image: url(../../public/flags/slv.svg);
}
.fl-smr {
    background-image: url(../../public/flags/smr.svg);
}
.fl-som {
    background-image: url(../../public/flags/som.svg);
}
.fl-spm {
    background-image: url(../../public/flags/spm.svg);
}
.fl-srb {
    background-image: url(../../public/flags/srb.svg);
}
.fl-ssd {
    background-image: url(../../public/flags/ssd.svg);
}
.fl-stp {
    background-image: url(../../public/flags/stp.svg);
}
.fl-sur {
    background-image: url(../../public/flags/sur.svg);
}
.fl-svk {
    background-image: url(../../public/flags/svk.svg);
}
.fl-svn {
    background-image: url(../../public/flags/svn.svg);
}
.fl-sjm {
    background-image: url(../../public/flags/sjm.svg);
}
.fl-swe {
    background-image: url(../../public/flags/swe.svg);
}
.fl-swz {
    background-image: url(../../public/flags/swz.svg);
}
.fl-sxm {
    background-image: url(../../public/flags/sxm.svg);
}
.fl-syc {
    background-image: url(../../public/flags/syc.svg);
}
.fl-syr {
    background-image: url(../../public/flags/syr.svg);
}
.fl-tca {
    background-image: url(../../public/flags/tca.svg);
}
.fl-tcd {
    background-image: url(../../public/flags/tcd.svg);
}
.fl-tgo {
    background-image: url(../../public/flags/tgo.svg);
}
.fl-tha {
    background-image: url(../../public/flags/tha.svg);
}
.fl-tjk {
    background-image: url(../../public/flags/tjk.svg);
}
.fl-tkl {
    background-image: url(../../public/flags/tkl.svg);
}
.fl-tkm {
    background-image: url(../../public/flags/tkm.svg);
}
.fl-tls {
    background-image: url(../../public/flags/tls.svg);
}
.fl-ton {
    background-image: url(../../public/flags/ton.svg);
}
.fl-tto {
    background-image: url(../../public/flags/tto.svg);
}
.fl-tun {
    background-image: url(../../public/flags/tun.svg);
}
.fl-tur {
    background-image: url(../../public/flags/tur.svg);
}
.fl-tuv {
    background-image: url(../../public/flags/tuv.svg);
}
.fl-twn {
    background-image: url(../../public/flags/twn.svg);
}
.fl-tza {
    background-image: url(../../public/flags/tza.svg);
}
.fl-uga {
    background-image: url(../../public/flags/uga.svg);
}
.fl-ukr {
    background-image: url(../../public/flags/ukr.svg);
}
.fl-ury {
    background-image: url(../../public/flags/ury.svg);
}
.fl-usa {
    background-image: url(../../public/flags/usa.svg);
}
.fl-uzb {
    background-image: url(../../public/flags/uzb.svg);
}
.fl-vat {
    background-image: url(../../public/flags/vat.svg);
}
.fl-vct {
    background-image: url(../../public/flags/vct.svg);
}
.fl-ven {
    background-image: url(../../public/flags/ven.svg);
}
.fl-vgb {
    background-image: url(../../public/flags/vgb.svg);
}
.fl-vir {
    background-image: url(../../public/flags/vir.svg);
}
.fl-vnm {
    background-image: url(../../public/flags/vnm.svg);
}
.fl-vut {
    background-image: url(../../public/flags/vut.svg);
}
.fl-wlf {
    background-image: url(../../public/flags/wlf.svg);
}
.fl-wsm {
    background-image: url(../../public/flags/wsm.svg);
}
.fl-xkx {
    background-image: url(../../public/flags/xkx.svg);
}
.fl-yem {
    background-image: url(../../public/flags/yem.svg);
}
.fl-zaf {
    background-image: url(../../public/flags/zaf.svg);
}
.fl-zmb {
    background-image: url(../../public/flags/zmb.svg);
}
.fl-zwe {
    background-image: url(../../public/flags/zwe.svg);
}