<div class="login-container">
    <div class="card">
        <div class="card-body">
            <div class="login-form">
                <form [formGroup]="partnerLoginForm" autocomplete="off">
                    <div></div>
                    <div class="welcome-title">It's great to see you've returned!</div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email Address" formControlName="partnerID"
                            [ngClass]="controlClass('partnerID')" />
                        <span class="focus-border"></span>
                    </div>
                    <div class="form-group">
                        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control"
                            placeholder="Password" formControlName="password" [ngClass]="controlClass('password')" />
                        <span class="focus-border"></span>
                        <label class="toggle-eye" (click)="togglePasswordVisibility('password')"
                            *ngIf="partnerLoginForm.get('password')?.value?.length != 0">
                            <i class="vi {{ showPassword ? 'vi-eye-off' : 'vi-eye' }}"></i>
                        </label>
                    </div>
                    <div class="btn-login">
                        <button type="button" class="btn btn-primary" (click)="onPartnerLogin()">LOGIN
                            NOW</button>
                    </div>
                </form>
            </div>
            <div class="qr-scanner">
                <div class="qr-label">Login with <span>QR Code</span></div>
                <div class="qr-code-wrap">
                    <qr-code value="https://ladensitae.com/" size="140"
                        errorCorrectionLevel="L" centerImageSize="50" lightColor="#fff" darkColor="#7b1fa2"
                        [margin]="2">
                    </qr-code>
                </div>
            </div>
        </div>
    </div>
</div>
