<div class="login-container">
    <div class="card">
        <div class="card-body">
            <div class="login-form">
                <form [formGroup]="partnerLoginForm" autocomplete="off">
                    <div class="welcome-title">It's great to see you've returned!</div>

                    <input-control [noLabel]="true" validation="required" formControlName="partnerID"
                        placeholder="{{ 'contact.emailaddress' | translate }}" [customClass]="'no-label'"
                        [error]="partnerLoginForm.controls['partnerID'].invalid && partnerLoginForm.controls['partnerID'].touched">
                    </input-control>

                    <input-control [noLabel]="true" validation="required" type="password" formControlName="password"
                        [customClass]="'no-label'" placeholder="{{ 'form.password' | translate }}"
                        [error]="partnerLoginForm.controls['password'].invalid && partnerLoginForm.controls['password'].touched">
                    </input-control>

                    <div class="btn-login">
                        <button type="button" class="btn btn-primary" (click)="onPartnerLogin()">LOGIN
                            NOW</button>
                    </div>
                </form>
            </div>
            <div class="qr-scanner">
                <div class="qr-label">Login with <span>QR Code</span></div>
                <div class="qr-code-wrap">
                    <qr-code value="https://ladensitae.com/" size="140" errorCorrectionLevel="L" centerImageSize="50"
                        lightColor="#fff" darkColor="#7b1fa2" [margin]="2">
                    </qr-code>
                </div>
            </div>
        </div>
    </div>
</div>