<form [formGroup]="changePasswordForm" autocomplete="off">
    <div class="form-body">
        <div class="form-group">
            <label class="inp-label required">Old Password</label>
            <input class="form-control" type="{{ showOldPassword ? 'text' : 'password' }}" formControlName="oldPassword"
                [ngClass]="controlClass('oldPassword')" #oldPasswordInput />
            <span class="focus-border"></span>
            <label class="toggle-eye" (click)="togglePasswordVisibility('oldPassword')"
                *ngIf="changePasswordForm.get('oldPassword')?.value?.length != 0">
                <i class="vi {{ showOldPassword ? 'vi-eye-off' : 'vi-eye' }}"></i>
            </label>
        </div>
        <div class="form-group" [ngClass]="{ 'patten-error': isPatternError('newPassword') }">
            <label class="inp-label required">New Password</label>
            <input class="form-control" type="{{ showNewPassword ? 'text' : 'password' }}" formControlName="newPassword"
                [ngClass]="controlClass('newPassword')" />
            <span class="focus-border"></span>
            <label class="toggle-eye" (click)="togglePasswordVisibility('newPassword')"
                *ngIf="changePasswordForm.get('newPassword')?.value?.length != 0">
                <i class="vi {{ showNewPassword ? 'vi-eye-off' : 'vi-eye' }}"></i>
            </label>
            <label class="val-msg" *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']">Password must be
                at least 5 characters long one uppercase with one lowercase and one numeric digit</label>
        </div>

        <div class="form-group">
            <label class="inp-label required">Confirm Password</label>
            <input class="form-control required" type="{{ showConfirmPassword ? 'text' : 'password' }}"
                formControlName="confirmPassword"
                [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword')?.value !== changePasswordForm.get('newPassword')?.value && changePasswordForm.get('confirmPassword')?.touched}" />
            <span class="focus-border"></span>
            <label class="toggle-eye" (click)="togglePasswordVisibility('confirmPassword')"
                *ngIf="changePasswordForm.get('confirmPassword')?.value?.length != 0">
                <i class="vi {{ showConfirmPassword ? 'vi-eye-off' : 'vi-eye' }}"></i>
            </label>
            <label class="val-msg"
                *ngIf="changePasswordForm.get('confirmPassword')?.value !== changePasswordForm.get('newPassword')?.value && changePasswordForm.get('confirmPassword')?.touched">New
                password and Confirm password fields are not identical</label>
        </div>
    </div>
    <div class="form-footer btn-list">
        <button type="button" class="btn btn-sm btn-success" (click)="onChangePassword()">Change Password</button>
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="onCancelChangePassword()">Cancel</button>
    </div>
</form>