<form [formGroup]="changePasswordForm" autocomplete="off">
    <div class="form-body">
        <input-control title="{{ 'form.oldpassword' | translate }}" validation="required" type="password"
            formControlName="oldPassword" #oldPasswordInput
            [error]="changePasswordForm.controls['oldPassword'].invalid && changePasswordForm.controls['oldPassword'].touched">
        </input-control>

        <input-control title="{{ 'form.newpassword' | translate }}" validation="required" type="password"
            formControlName="newPassword"
            [error]="changePasswordForm.controls['newPassword'].invalid && changePasswordForm.controls['newPassword'].touched"
            [errorMessage]="'At least 5 characters long one uppercase with one lowercase and one numeric digit'">
        </input-control>

        <input-control title="{{ 'form.confirmpassword' | translate }}" validation="required" type="password"
            formControlName="confirmPassword"
            [error]="changePasswordForm.controls['confirmPassword'].invalid && changePasswordForm.controls['confirmPassword'].touched"
            [errorMessage]="'New password and Confirm password fields are not identical'">
        </input-control>
    </div>
    <div class="form-footer btn-list">
        <button type="button" class="btn btn-sm btn-success" (click)="onChangePassword()">{{ 'user.changepassword' |
            translate }}</button>
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="onCancelChangePassword()">{{ 'cmn.cancel' |
            translate }}</button>
    </div>
</form>