@import "../../../../../public/scss/variables";

.page-container {
    .page-wrap {
        .page-header {
            top: 0;
            z-index: 1;
            height: 50px;
            display: flex;
            position: sticky;
            padding: 0 1.75rem;
            align-items: center;
            background: #ffffff;
            justify-content: space-between;
            // box-shadow: 3px -1px 6px 0 #a1a1a1;
            border-bottom: 1px solid #efefef;            
        }
        .page-content {
            padding: 1.5rem 1.75rem;
            min-height: calc(100vh - 100px);
        }
    }
}