<div class="page-container">
    <div class="page-wrap">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-9 col-center">
                    <form [formGroup]="scheduleSettingForm" autocomplete="off">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <select-control title="Category" validation="required"
                                            formControlName="category" optionDisplayProperty="displayname"
                                            [options]="options" (optionSelected)="selectCategory($event)"
                                            [error]="scheduleSettingForm.controls['category'].invalid && scheduleSettingForm.controls['category'].touched"
                                            [errorMessage]="getErrorMessage('category')">
                                        </select-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <input-control title="User Name" validation="required"
                                            formControlName="userName"
                                            [error]="scheduleSettingForm.controls['userName'].invalid && scheduleSettingForm.controls['userName'].touched"
                                            [errorMessage]="getErrorMessage('userName')">
                                        </input-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <multiselect-control [title]="'Allowed Sites'" validation="required"
                                            formControlName="allowedSites" [options]="userSiteOptions"
                                            [showSearch]="true" [selectedItems]="userSiteItem"
                                            (optionSelected)="selectSites($event)"
                                            [error]="scheduleSettingForm.controls['allowedSites'].invalid && scheduleSettingForm.controls['allowedSites'].touched"
                                            [errorMessage]="getErrorMessage('allowedSites')">
                                        </multiselect-control>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <autocomplete-control [title]="'User Type'" validation="required"
                                            [options]="options" field="name" (select)="onSelect($event)"
                                            (search)="onSearch($event)" formControlName="userType"
                                            [forceSelection]="true" optionDisplayProperty="displayname"
                                            [error]="scheduleSettingForm.controls['userType'].invalid && scheduleSettingForm.controls['userType'].touched"
                                            [errorMessage]="getErrorMessage('userType')">
                                        </autocomplete-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label required">From Date</label>
                                            <p-calendar formControlName="fromDate" [iconDisplay]="'input'"
                                                [showIcon]="true" formControlName="fromDate" inputId="icondisplay"
                                                [styleClass]="'form-control'"
                                                [ngClass]="{'is-invalid' : (scheduleSettingForm.get('fromDate')?.invalid && scheduleSettingForm.get('fromDate')?.touched) ?? false}">
                                            </p-calendar>
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <checkbox-control title="Active" customClass="checkbox-form"
                                            formControlName="isActive"></checkbox-control>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- <textarea-control title="Remarks" formControlName="remarks"
                                            [error]="scheduleSettingForm.controls['remarks'].invalid && scheduleSettingForm.controls['remarks'].touched "
                                            [errorMessage]="getErrorMessage('remarks')">
                                        </textarea-control> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="btn-list">
                                    <button type="button" class="btn btn-success" (click)="onRegisterUser()">Save</button>
                                    <button type="button" class="btn btn-outline-danger" (click)="onCancelClick()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-dialog *ngIf="formChangeWarningDialog" type="confirm" [customClass]="'delete justify'" [title]="'Discard Changes?'"
    [message]="'Are you sure you want to discard the changes? Changes you made may not be saved.'"
    (confirmClick)="onBackConfirmClick()" (cancelClick)="onCancelClearChanges()"></app-dialog>