<div class="page-container">
    <div class="page-wrap">
        <div class="page-content">
            <div class="row">
                <div class="col-lg-9 col-center">
                    <form [formGroup]="scheduleSettingForm" autocomplete="off">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-lg-4">
                                        <select-control title="Category" validation="required"
                                            formControlName="category" [selectedItem]="categoryItem"
                                            [options]="categoryOptions" (optionSelected)="selectCategory($event)"
                                            [validationClass]="(scheduleSettingForm.get('category')?.invalid && scheduleSettingForm.get('category')?.touched) ?? false">
                                        </select-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <input-control title="User Name" validation="required"
                                            formControlName="userName"
                                            [validationClass]="(scheduleSettingForm.get('userName')?.invalid && scheduleSettingForm.get('userName')?.touched) ?? false">
                                        </input-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <multiselect-control [title]="'Allowed Sites'" validation="required"
                                            formControlName="allowedSites" [options]="userSiteOptions"
                                            [selectedItems]="userSiteItem" (optionSelected)="selectSites($event)"
                                            [validationClass]="(scheduleSettingForm.get('allowedSites')?.invalid && scheduleSettingForm.get('allowedSites')?.touched) ?? false">
                                        </multiselect-control>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <autocomplete-control></autocomplete-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <input-control title="From Date" validation="required"
                                            formControlName="fromDate"
                                            [validationClass]="(scheduleSettingForm.get('fromDate')?.invalid && scheduleSettingForm.get('fromDate')?.touched) ?? false">
                                        </input-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <checkbox-control title="Active" customClass="checkbox-form"
                                            formControlName="isActive"></checkbox-control>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <textarea-control title="Remarks" formControlName="remarks"
                                            [validationClass]="(scheduleSettingForm.get('remarks')?.invalid && scheduleSettingForm.get('remarks')?.touched) ?? false">
                                        </textarea-control>
                                        <label class="val-msg"
                                            *ngIf="scheduleSettingForm.get('remarks')?.errors?.['maxlength']">Max
                                            Length is 100</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="btn-list">
                                    <button class="btn btn-success" (click)="onRegisterUser()">Save</button>
                                    <button class="btn btn-outline-danger" (click)="onCancelClick()">Clear</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-dialog *ngIf="formChangeWarningDialog" type="confirm" [customClass]="'delete justify'" [title]="'Discard Changes?'"
    [message]="'Are you sure you want to discard the changes? Changes you made may not be saved.'"
    (confirmClick)="onBackConfirmClick()" (cancelClick)="onCancelClearChanges()"></app-dialog>