<div class="form-group multi-select" [ngClass]="customClass" (clickOutside)="selectListOutsideClick()">
  <label class="inp-label" [ngClass]="validation" *ngIf="!noLabel">{{ title }}</label>
  <input type="text" class="form-control" placeholder="{{ placeholder }}"
    [ngClass]="{'is-invalid': validationClass || error}" (blur)="onBlur($event)" [disabled]="disabled"
    (click)="toggleDropdown()" readonly [value]="selectedItemList" (keydown)="onKeyDown($event)" />
  <span class="focus-border"></span>
  <label class="clear" *ngIf="isDropdownOpen && clearVal" (click)="resetSelection()">
    <i class="vi vi-close"></i>
  </label>
  <label class="arrow"><i class="vi vi-chevron-down"></i></label>

  <div class="option-list" *ngIf="isDropdownOpen">
    <div class="list-filter" *ngIf="showSearch">
      <div>
        <label class="checkbox-container select-all">
          <input type="checkbox" [checked]="selectAllChecked" (change)="onSelectAllChange($event)" tabindex="-1" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search..." (input)="handleInput($event) "
          (keydown)="onKeyDown($event)" />
      </div>
      <div class="ms-close">
        <button type="button" class="icon-button">
          <a (click)="onCloseDropdown()"><i class="vi vi-close"></i></a>
        </button>
      </div>
    </div>
    <div class="list-wrap">
      <div class="list-item" *ngFor="let option of filteredOptions ; let i = index" (change)="toggleCheckbox(option)"
        [ngClass]="{'highlighted': i === highlightedIndex}">
        <label class="checkbox-container multi-select">
          <input type="checkbox" [checked]="isSelected(option)" tabindex="-1" />
          <span class="checkmark"></span>{{ option[optionDisplayProperty] }}
        </label>
      </div>
    </div>
    <div class="no-results" *ngIf="filteredOptions.length === 0">No results found</div>
  </div>

  <div *ngIf="error" class="val-msg">{{ errorMessage }}</div>
</div>