<div class="modal">
    <div class="modal-dialog" [ngClass]="customClass">
        <div class="modal-content">
            <div class="modal-header" *ngIf="header != 'hide'">
                <div class="modal-title">{{ modalTitle }}</div>
                <div class="icon-btn-list">
                    <a (click)="closeModal()"><i class="vi vi-close"></i></a>
                </div>                
            </div>
            <ng-content select=".modal-body"></ng-content>
            <div class="modal-footer" *ngIf="footer != 'hide'">
                <div><ng-content select=".modal-footer"></ng-content></div>
                <button type="button" class="btn btn-sm btn-outline-danger" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>