.form-group {
  &.auto-complete {
    .form-control {
      padding-right: unset;
    }
    .clear {
      right: 7px;
    }
    .option-list {
      .no-results {
        padding: 10px;
        color: #9b9b9b;
        text-align: center;
      }
    }
  }
}
