<div class="autocomplete-control" [ngClass]="customClass">
    <div *ngIf="multiple">
      <div class="selected-item" *ngFor="let item of selectedItems">
        {{ item[field] }}
        <span class="remove-item" (click)="removeItem(item)">x</span>
      </div>
    </div>
    <input #inputElement type="text" class="form-control" [placeholder]="placeholder" [formControl]="inputControl"
           [disabled]="disabled" (blur)="handleBlur()" (keydown)="onKeyDown($event)" [ngClass]="{'is-invalid': error}" />
    <label class="clear" *ngIf="inputControl.value" (click)="resetInput()">
      <i class="vi vi-close"></i>
    </label>
    <div #dropdownElement class="suggestions-list" *ngIf="isDropdownOpen">
      <div *ngIf="filteredSuggestions.length === 0" class="no-results">No results found</div>
      <div class="suggestion-item" *ngFor="let suggestion of filteredSuggestions; let i = index"
           (click)="selectSuggestion(suggestion)"
           [class.highlighted]="highlightedIndex === i">
        {{ suggestion[field] }}
      </div>
    </div>
    <div *ngIf="error" class="error-message">{{ errorMessage }}</div>
  </div>
  