@mixin set-sub-title {
    line-height: 18px;
    font-size: 0.9em;
    color: #686772;
}

.pat-settings {
    height: 100%;
    overflow-y: overlay;
    padding: 1rem 1.75rem;
    .settings-group {
        padding-bottom: 1rem;
        margin-bottom: 1.25rem;
        border-bottom: 1px solid #efefef;
        .set-title {
            font-size: 1em;
            font-weight: 600;
            margin-bottom: 3px;
            color: #0088ab;
        }
        .set-sub-title {
            @include set-sub-title;
            span {
                font-weight: 500;
            }
        }
        .not-actions {
            padding-left: 5rem;
            .not-item {
                display: flex;
                align-items: start;
                margin-bottom: 18px;
                .toggle-wrap {
                    width: 50px;
                }
                .not-desc {
                    width: calc(100% - 50px);
                    .desc-title {
                        font-weight: 500;
                        line-height: 18px;
                    }
                    .desc-sub-title {
                        @include set-sub-title;
                        text-align: unset;
                    }
                }
                &:last-of-type {
                    margin-bottom: 10px;
                }
            }
        }
        &:last-of-type {
            margin-bottom: 0;
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}
