<div class="pat-settings">
    <form>
        <div class="settings-group">
            <div class="row">
                <div class="col-lg-4">
                    <div class="set-title ellipsis">General Settings</div>
                    <div class="set-sub-title">Configure general settings to customize your preferences and manage your
                        overall application experience.</div>
                </div>
                <div class="col-lg-8">
                    <div class="not-actions">
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Leave Request</div>
                                <div class="desc-sub-title">Receive notifications when leave requests are approved or
                                    canceled.</div>
                            </div>
                        </div>
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Patient Demographics</div>
                                <div class="desc-sub-title">Register, update, or modify patient demographic data in the
                                    system.</div>
                            </div>
                        </div>
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Create Appointment</div>
                                <div class="desc-sub-title">Schedule a new appointment for a patient, including
                                    recurring appointments.</div>
                            </div>
                        </div>
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Create Encounter</div>
                                <div class="desc-sub-title">Create an encounter for a walk-in patient.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="settings-group">
            <div class="row">
                <div class="col-lg-4">
                    <div class="set-title ellipsis">Email Notifications</div>
                    <div class="set-sub-title">Configure email notifications to stay informed about all important
                        activities and updates in the clinic.</div>
                </div>
                <div class="col-lg-8">
                    <div class="not-actions">
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Daily Appointment Summary</div>
                                <div class="desc-sub-title">Receive a daily summary of all appointments and the day's
                                    agenda.</div>

                            </div>
                        </div>
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Credentials Update</div>
                                <div class="desc-sub-title">Get notified when your password or account credentials are
                                    updated.</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="settings-group">
            <div class="row">
                <div class="col-lg-4">
                    <div class="set-title ellipsis">Push Notifications</div>
                    <div class="set-sub-title">Set up push notifications for real-time updates on clinic activities to
                        stay instantly informed.</div>
                </div>
                <div class="col-lg-8">
                    <div class="not-actions">
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Patient check-in</div>
                                <div class="desc-sub-title">Get notified when a scheduled patient reports at the clinic.
                                </div>
                            </div>
                        </div>
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Patient encounter</div>
                                <div class="desc-sub-title">Get notified when an encounter is created for a walk-in
                                    patient.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>