<div class="pat-settings">
    <form>
        <div class="settings-group">
            <div class="row">
                <div class="col-lg-4">
                    <div class="set-title ellipsis">Email Notifications</div>
                    <div class="set-sub-title">Access patient personal health informations with ease through our patient portal. Customize patient portal notifications to suit patient preferences and stay connected with your healthcare provider in a convenient and secure manner.</div>
                </div>
                <div class="col-lg-8">
                    <div class="not-actions">
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Daily appointment summary</div>
                                <div class="desc-sub-title">Convenient access to patient portal for seamless healthcare
                                    interactions.</div>
                            </div>
                        </div>
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Modify demographics info</div>
                                <div class="desc-sub-title">Change or Update demographic informations.</div>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="settings-group">
            <div class="row">
                <div class="col-lg-4">
                    <div class="set-title ellipsis">Push Notifications</div>
                    <div class="set-sub-title">Stay in control of patient financials with our notification settings. Manage how you receive notifications about patient upcoming payments, advance, installments and other important billing-related information.</div>
                </div>
                <div class="col-lg-8">
                    <div class="not-actions">
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Patient reported</div>
                                <div class="desc-sub-title">Enable loyalty program, Earn and redeem rewards in each
                                    consultations.</div>
                            </div>
                        </div>
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox">
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Patient encounter</div>
                                <div class="desc-sub-title">Credit or Installment payment option for seamless healthcare
                                    services.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="settings-group">
            <div class="row">
                <div class="col-lg-4">
                    <div class="set-title ellipsis">Notification Preferences</div>
                    <div class="set-sub-title">Manage how patient receive <span>email, sms, whatsapp</span>
                        notifications
                        from us. Manage your notification preferences, frequency, and delivery settings.
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="not-actions">
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">Offers and discounts</div>
                                <div class="desc-sub-title">Exciting deals and exclusive discounts.</div>
                            </div>
                        </div>
                        <div class="not-item">
                            <div class="toggle-wrap">
                                <label class="switch-container">
                                    <input type="checkbox" checked>
                                    <span class="switch-slider"></span>
                                </label>
                            </div>
                            <div class="not-desc">
                                <div class="desc-title">News and updates</div>
                                <div class="desc-sub-title">News about product and feature updates.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>