<div class="split-layout">
    <div class="layout-aside-left">
        <div>{{userRegistrationForm.value.firstName}}</div>
        <div>Profile Completion: {{ percentage }}%</div>
        <div [style.width.%]="percentage" style="background-color: lightblue; height: 20px;">
        </div>
    </div>
    <div class="layout-aside-right">
        <form [formGroup]="userRegistrationForm" autocomplete="off">
            <app-accordion [multiple]="true" [openall]="true" [customClass]="'info-panel'">

                <ng-template sectionContent title="Personal Information">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-title-group">
                                <div class="form-sub-title">Capture essential personal details for user
                                    identification.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="double-sel-inp md-80">
                                <select-control title="Prefix" formControlName="prefix" [options]="prefixOptions"
                                    (optionSelected)="selectPrefix($event)">
                                </select-control>
                                <input-control title="First Name" validation="required" formControlName="firstName"
                                    [error]="userRegistrationForm.controls['firstName'].invalid && userRegistrationForm.controls['firstName'].touched"
                                    [errorMessage]="'Cannot exceed 20 characters'">
                                </input-control>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <input-control title="Middle Name" formControlName="middleName"
                                [error]="userRegistrationForm.controls['middleName'].invalid && userRegistrationForm.controls['middleName'].touched"
                                [errorMessage]="'Cannot exceed 20 characters'">
                            </input-control>
                        </div>
                        <div class="col-lg-4">
                            <input-control title="Last Name" validation="required" formControlName="lastName"
                                [error]="userRegistrationForm.controls['lastName'].invalid && userRegistrationForm.controls['lastName'].touched"
                                [errorMessage]="'Cannot exceed 30 characters'">
                            </input-control>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <select-control title="Gender" validation="required" formControlName="gender"
                                [options]="genderOptions" (optionSelected)="selectGender($event)"
                                [error]="userRegistrationForm.controls['gender'].invalid && userRegistrationForm.controls['gender'].touched">
                            </select-control>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="inp-label required">Date of Birth</label>
                                <p-calendar [(ngModel)]="dateOfBirth" [iconDisplay]="'input'" [showIcon]="true"
                                    (change)="calculateAge()" formControlName="dateOfBirth" inputId="icondisplay"
                                    [styleClass]="'form-control'"
                                    [ngClass]="{'is-invalid' : (userRegistrationForm.get('dateOfBirth')?.invalid && userRegistrationForm.get('dateOfBirth')?.touched) ?? false}">
                                </p-calendar>
                                <span class="focus-border"></span>
                                <label class="val-msg"
                                    *ngIf="userRegistrationForm.get('dateOfBirth')?.errors?.['invalidAge'] && userRegistrationForm.get('dateOfBirth')?.value !== '' && userRegistrationForm.get('dateOfBirth')?.value !== null">Under
                                    Age</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="inp-label required">Age</label>
                                <input type="number" class="form-control" formControlName="age"
                                    [ngClass]="{'is-invalid': (userRegistrationForm.get('age')?.errors?.['invalidAge'] && userRegistrationForm.get('age')?.value !== '' && userRegistrationForm.get('age')?.value !== null) || (userRegistrationForm.get('age')?.errors?.['invalidAge'] && userRegistrationForm.get('age')?.touched)}" />
                                <span class="focus-border"></span>
                                <label class="val-msg"
                                    *ngIf="userRegistrationForm.get('age')?.errors?.['invalidAge'] && userRegistrationForm.get('age')?.value !== '' && userRegistrationForm.get('age')?.value !== null">Must
                                    be 18 or older</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <multiselect-control [title]="'Languages Known'" validation="required"
                                formControlName="languagesKnown" [options]="userLanguageOptions"
                                [selectedItems]="userLanguageItem" (optionSelected)="selectLanguageType($event)"
                                [error]="userRegistrationForm.controls['languagesKnown'].invalid && userRegistrationForm.controls['languagesKnown'].touched">
                            </multiselect-control>
                        </div>
                        <div class="col-lg-4">
                            <select-control title="Marital Status" formControlName="maritalStatus"
                                [options]="maritalStatusOptions" (optionSelected)="selectMaritalStatus($event)">
                            </select-control>
                        </div>
                        <div class="col-lg-4">
                            <select-control title="Nationality" formControlName="nationality"
                                [options]="nationalityOptions" (optionSelected)="selectNationality($event)"
                                [error]="userRegistrationForm.controls['nationality'].invalid && userRegistrationForm.controls['nationality'].touched">
                            </select-control>
                        </div>
                    </div>
                </ng-template>

                <ng-template sectionContent title="Contact Information">
                    <div class=" row">
                        <div class="col-lg-12">
                            <div class="form-title-group">
                                <div class="form-sub-title">Adding contact informations of the
                                    employee will helps you to call them at any circumstances. The user's
                                    primary phone number or email Id will be used as login credential.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="double-sel-inp md-80">
                                <select-control title="Phone Code" validation="required" formControlName="phoneCode"
                                    [clearVal]="false"
                                    [error]="userRegistrationForm.controls['phoneCode'].invalid && userRegistrationForm.controls['phoneCode'].touched"></select-control>
                                <input-control title="Phone Number" type="number" validation="required"
                                    formControlName="phoneNumber"
                                    [error]="userRegistrationForm.controls['phoneNumber'].invalid && userRegistrationForm.controls['phoneNumber'].touched"
                                    [errorMessage]="'Only Numbers Are Allowed'">
                                </input-control>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="double-sel-inp md-80">
                                <select-control title="Phone Code" formControlName="altPhoneCode" [clearVal]="false"
                                    [error]="userRegistrationForm.controls['altPhoneCode'].invalid && userRegistrationForm.controls['altPhoneCode'].touched"></select-control>
                                <input-control title="Alternate Phone Number" type="number"
                                    formControlName="altPhoneNumber"
                                    [error]="userRegistrationForm.controls['altPhoneNumber'].invalid && userRegistrationForm.controls['altPhoneNumber'].touched"
                                    [errorMessage]="'Only Numbers Are Allowed'">
                                </input-control>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <input-control title="Email Id" type="email" validation="required" formControlName="emailId"
                                [error]="userRegistrationForm.controls['emailId'].invalid && userRegistrationForm.controls['emailId'].touched"
                                [errorMessage]="'Invalid Email Format'">
                            </input-control>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-titile">Communication Address</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <input-control title="House / Appartment Name" formControlName="houseName"
                                [error]="userRegistrationForm.controls['houseName'].invalid && userRegistrationForm.controls['houseName'].touched"
                                [errorMessage]="'Cannot exceed 100 characters'">
                            </input-control>
                        </div>
                        <div class="col-lg-4">
                            <input-control title="Street / Area Name" formControlName="streetName"
                                [error]="userRegistrationForm.controls['streetName'].invalid && userRegistrationForm.controls['streetName'].touched"
                                [errorMessage]="'Cannot exceed 75 characters'">
                            </input-control>
                        </div>
                        <div class="col-lg-4">
                            <input-control title="PIN / ZIP Code" type="number" formControlName="pinCode"
                                [error]="userRegistrationForm.controls['pinCode'].invalid && userRegistrationForm.controls['pinCode'].touched"
                                [errorMessage]="'Cannot exceed 6 numbers'">
                            </input-control>
                        </div>
                        <div class="col-lg-4">
                            <autocomplete-control title="City / District" formControlName="city"
                                [error]="userRegistrationForm.controls['city'].invalid && userRegistrationForm.controls['city'].touched"
                                [errorMessage]="'Cannot exceed 50 characters'"></autocomplete-control>
                        </div>
                        <div class="col-lg-4">
                            <autocomplete-control title="State" formControlName="state"
                                [error]="userRegistrationForm.controls['state'].invalid && userRegistrationForm.controls['state'].touched"
                                [errorMessage]="'Cannot exceed 50 characters'"></autocomplete-control>
                        </div>
                        <div class="col-lg-4">
                            <autocomplete-control title="Country" formControlName="country"
                                [error]="userRegistrationForm.controls['country'].invalid && userRegistrationForm.controls['country'].touched"
                                [errorMessage]="'Cannot exceed 50 characters'"></autocomplete-control>
                        </div>
                    </div>
                </ng-template>

                <ng-template sectionContent title="Professional Information">
                    <div class=" row">
                        <div class="col-lg-12">
                            <div class="form-title-group">
                                <div class="form-sub-title">Assign roles and responsibilities to users across
                                    various outlets for organized and efficient business operations.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <select-control title="User Type" validation="required" formControlName="userType"
                                [options]="userTypeOptions" (optionSelected)="selectUserType($event)"
                                [error]="userRegistrationForm.controls['userType'].invalid && userRegistrationForm.controls['userType'].touched">
                            </select-control>
                        </div>
                        <div class="col-lg-4">
                            <input-control title="Qualification" formControlName="qualification"
                                [error]="userRegistrationForm.controls['qualification'].invalid && userRegistrationForm.controls['qualification'].touched"
                                [errorMessage]="'Cannot exceed 100 characters'">
                            </input-control>
                        </div>
                        <div class="col-lg-4">
                            <input-control title="Registration No" formControlName="regNumber"
                                [error]="userRegistrationForm.controls['regNumber'].invalid && userRegistrationForm.controls['regNumber'].touched">
                            </input-control>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <select-control title="Department" validation="required" formControlName="department"
                                [options]="userTypeOptions" (optionSelected)="selectUserType($event)"
                                [error]="userRegistrationForm.controls['department'].invalid && userRegistrationForm.controls['department'].touched">
                            </select-control>
                        </div>
                        <div class="col-lg-4">
                            <select-control title="Speciality" formControlName="speciality" [options]="userTypeOptions"
                                (optionSelected)="selectUserType($event)">
                            </select-control>
                        </div>
                        <div class="col-lg-4">
                            <select-control title="Designation / Job Title" validation="required"
                                formControlName="userType" [options]="userTypeOptions"
                                (optionSelected)="selectUserType($event)"
                                [error]="userRegistrationForm.controls['designation'].invalid && userRegistrationForm.controls['designation'].touched">
                            </select-control>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="inp-label required">Date of Joining</label>
                                <p-calendar [(ngModel)]="dateOfJoin" [iconDisplay]="'input'" [showIcon]="true"
                                    (change)="calculateAge()" formControlName="dateOfJoining" inputId="icondisplay"
                                    [styleClass]="'form-control'"
                                    [ngClass]="{'is-invalid' : (userRegistrationForm.get('dateOfJoining')?.invalid && userRegistrationForm.get('dateOfJoining')?.touched) ?? false}">
                                </p-calendar>
                                <span class="focus-border"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <select-control title="Reporting Manager" formControlName="reportingManager"
                                [options]="userTypeOptions" (optionSelected)="selectUserType($event)">
                            </select-control>
                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea-control title="Remarks" formControlName="remarks"
                                [error]="userRegistrationForm.controls['remarks'].invalid && userRegistrationForm.controls['remarks'].touched "
                                [errorMessage]="'Cannot exceed 500 characters'">
                            </textarea-control>
                        </div>
                    </div>
                </ng-template>

                <ng-template sectionContent title="Role Allocation">
                    <div class=" row">
                        <div class="col-lg-12">
                            <div class="form-title-group">
                                <div class="form-sub-title">Assign roles and responsibilities to users across
                                    various outlets for organized and efficient business operations.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <multiselect-control [title]="'Allowed Sites'" validation="required"
                                formControlName="allowedSites" [options]="userSiteOptions"
                                [selectedItems]="userSiteItem" (optionSelected)="selectSiteType($event)"
                                [error]="userRegistrationForm.controls['allowedSites'].invalid && userRegistrationForm.controls['allowedSites'].touched">
                            </multiselect-control>
                        </div>
                        <div class="col-lg-4">
                            <select-control title="Default Site" validation="required" formControlName="defaultSite"
                                [error]="userRegistrationForm.controls['defaultSite'].invalid && userRegistrationForm.controls['defaultSite'].touched">
                            </select-control>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <multiselect-control title="User Role" validation="required" formControlName="role"
                                [selectedItems]="userRoleItem" [options]="userRoleOptions"
                                (optionSelected)="selectRoleType($event)"
                                [error]="userRegistrationForm.controls['role'].invalid && userRegistrationForm.controls['role'].touched">
                            </multiselect-control>
                        </div>
                        <div class="col-lg-4">
                            <select-control title="Default User Role" validation="required"
                                formControlName="defaultRole"
                                [error]="userRegistrationForm.controls['defaultRole'].invalid && userRegistrationForm.controls['defaultRole'].touched">
                            </select-control>
                        </div>
                    </div>
                </ng-template>

                <ng-template sectionContent title="User Credentials">
                    <div class=" row">
                        <div class="col-lg-12">
                            <div class="form-title-group">
                                <div class="form-sub-title">Manage user access with options for status (active,
                                    inactive) and credentials (username, password) for secure system
                                    interactions.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <select-control title="User Status" validation="required" formControlName="userStatus"
                                [options]="userStatusOptions" (optionSelected)="selectUserStatus($event)"
                                [validationClass]="(userRegistrationForm.get('userStatus')?.invalid && userRegistrationForm.get('userStatus')?.touched) ?? false">
                            </select-control>
                        </div>
                        <div class="col-lg-4">
                            <input-control title="Windows ID" formControlName="windowsID"
                                [error]="userRegistrationForm.controls['windowsID'].invalid && userRegistrationForm.controls['windowsID'].touched"
                                [errorMessage]="'Cannot exceed 75 characters'">
                            </input-control>
                        </div>
                        <div class="col-lg-4">
                            <checkbox-control title="Change password at next login " [customClass]="'checkbox-form'"
                                formControlName="isChangePassword"></checkbox-control>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <input-control title="User ID" validation="required" formControlName="userID"
                                [error]="userRegistrationForm.controls['userID'].invalid && userRegistrationForm.controls['userID'].touched">
                            </input-control>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="inp-label required">Password</label>
                                <input class="form-control" type="{{ passwordHide ? 'text' : 'password' }}"
                                    formControlName="password" [ngClass]="controlClass('password')" />
                                <span class="focus-border"></span>
                                <label class="toggle-eye" (click)="togglePasswordVisibility('password')">
                                    <i class="vi {{ passwordHide ? 'vi-eye-off' : 'vi-eye' }}"></i>
                                </label>
                                <label class="val-msg"
                                    *ngIf="userRegistrationForm.get('password')?.errors?.['pattern']">
                                    At least 6 characters long, 1 uppercase with 1 lowercase
                                    and 1 numeric digit</label>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="inp-label required">Confirm Password</label>
                                <input class="form-control" type="{{ confirmPasswordHide ? 'text' : 'password' }}"
                                    formControlName="confirmPassword"
                                    [ngClass]="{'is-invalid': userRegistrationForm.get('confirmPassword')?.value !== userRegistrationForm.get('password')?.value && userRegistrationForm.get('confirmPassword')?.touched}" />
                                <span class="focus-border"></span>
                                <label class="toggle-eye" (click)="togglePasswordVisibility('confirmPassword')">
                                    <i class="vi {{ confirmPasswordHide ? 'vi-eye-off' : 'vi-eye' }}"></i>
                                </label>
                                <span class="focus-border"></span>
                                <label class="val-msg"
                                    *ngIf="userRegistrationForm.get('confirmPassword')?.value !== userRegistrationForm.get('password')?.value && userRegistrationForm.get('confirmPassword')?.touched">Passwords
                                    does not match</label>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </app-accordion>
        </form>
        <div class="page-form-footer clear-margin">
            <div></div>
            <div class="btn-list">
                <button class="btn btn-success" (click)="onRegisterUser()">Register</button>
                <button class="btn btn-outline-danger" (click)="onCancelClick()">Cancel</button>
            </div>
        </div>
    </div>
</div>

<app-dialog *ngIf="formChangeWarningDialog" type="confirm" [customClass]="'delete justify'" [title]="'Discard Changes?'"
    [message]="'Are you sure you want to discard the changes? Changes you made may not be saved.'"
    (confirmClick)="onBackConfirmClick()" (cancelClick)="onCancelClearChanges()"></app-dialog>