<div class="pat-info">
    <div class="pp-header">
        <div class="pp-completion">
            <div class="pat-pc-steps">
                <div class="step-title">Where you stand -
                    <label class="average">Average</label>
                </div>
                <div class="steps-wrap">
                    <div class="steps step-1"><label>30%</label></div>
                    <div class="steps step-2"><label>50%</label></div>
                    <div class="steps step-3"><label>70%</label></div>
                    <div class="steps step-4"><label>85%</label></div>
                    <div class="steps step-5"><label>100%</label></div>
                    <div class="pc-position" style="--value : 60">
                        <img src="../../../../../../images/avatars/user-1.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-action icon-btn-list">
            <a class="edit" title="Edit Patient Info"><i class="vi vi-pencil"></i></a>
        </div>
    </div>
    <div class="pp-body">
        <div class="card card-pat-info">
            <div class="card-header">
                <div class="header-label">{{'user.pinfo' | translate}}</div>
            </div>
            <div class="card-body info-list">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Family Name</div>
                            <div class="info-value">Erica</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Mother's Maiden Name</div>
                            <div class="info-value">Rodrigues</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Marital Status</div>
                            <div class="info-value"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Blood Group</div>
                            <div class="info-value"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Religion</div>
                            <div class="info-value"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Patient Group</div>
                            <div class="info-value"></div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Patient Status</div>
                            <div class="info-value active">Active</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Category</div>
                            <div class="info-value">Rodrigues</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Occupation</div>
                            <div class="info-value">Rodrigues</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Organization</div>
                            <div class="info-value">Rodrigues</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Highest Degree</div>
                            <div class="info-value">Rodrigues</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Preferred Language</div>
                            <div class="info-value">Malayalam, English, Tamil</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Default Language</div>
                            <div class="info-value">Malayalam</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Physical Differences</div>
                            <div class="info-value">Rodrigues</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Registered Date</div>
                            <div class="info-value">10/Dec/2022</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Registered By</div>
                            <div class="info-value">Alex Christy</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Registered Site</div>
                            <div class="info-value">Sanmaria</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">How did you find us?</div>
                            <div class="info-value">Social Media</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info-group">
                            <div class="info-label">Remarks</div>
                            <div class="info-value"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-pat-info">
            <div class="card-header">
                <div class="header-label">{{'user.cinfo' | translate}}</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-title">Communication Address
                            <label class="gmap"><i class="vi vi-map-o"></i>Google Map</label>
                        </div>
                        <div class="info-group">
                            <div class="info-value">P/3912, Nowroze Baugla, Lal Baug, Parel, Navi mumbai,
                                Maharashtra -400012, India</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-pat-info">
            <div class="card-header">
                <div class="header-label">{{'user.profinfo' | translate}}</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Contact Name</div>
                            <div class="info-value">Nikhel Antony Augustine</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Contact Number</div>
                            <div class="info-value">+91 8089546734</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="info-group">
                            <div class="info-label">Relation</div>
                            <div class="info-value">Brother</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-pat-info">
            <div class="card-header">
                <div class="header-label">{{'cmn.documents' | translate}}</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card id-card">
                            <div class="card-body active">
                                <div class="card-name">Aadhaar Card</div>
                                <div class="card-no">9645 2345 4567 3879</div>
                                <div class="validity">
                                    <label>23/Jun/2016<span>-</span>31/Mar/2045</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card id-card">
                            <div class="card-body active">
                                <div class="card-name">Passport</div>
                                <div class="card-no">31195478</div>
                                <div class="validity">
                                    <label>18/Sep/2019<span>-</span>17/Sep/2029</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card id-card">
                            <div class="card-body inactive">
                                <div class="card-name">Voter ID Card</div>
                                <div class="card-no">KJSC 79785363</div>
                                <div class="validity">
                                    <label>Expiry date not mentioned</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>