<div class="aside-left-menu"></div>
<div class="main-menu">
  <div class="app-logo">
    <a>
      <img src="../../../../../images/brand/logo-sm.svg" />
    </a>
  </div>
  <ul>
    <li *ngFor="let item of userMenu" [ngClass]="{'active': activeTab === item.tabName}"
      (click)="onTabClick(item.tabName)" [routerLink]="item.route" title="{{item.name}}">
      <a>
        <div class="nav-icon"><i [class]="item.iconClass"></i></div>
        <!-- <div class="nav-name">{{item.name}}</div> -->
      </a>
    </li>
  </ul>
</div>